<h1><%= t "lesson.list" %></h1>
<div class="row">
  <%= render "form_lesson" %>
</div>
<hr />
<%= paginate @lessons %>
<table class="table table-striped">
  <thead>
    <th><%= t "lesson.created_at" %></th>
    <th><%= t "lesson.subject" %></th>
    <th><%= t "lesson.status" %></th>
    <th><%= t "lesson.duration" %></th>
    <th><%= t "lesson.question_number" %></th>
    <th><%= t "lesson.spent_time" %></th>
    <th><%= t "lesson.score" %></th>
    <th><%= t "lesson.action" %></th>
  </thead>
  <tbody>
    <% @lessons.each do |lesson| %>
      <tr>
        <td><%= lesson.created_at %></td>
        <td><%= lesson.subject.name %></td>
        <td><%= status_of(lesson).html_safe %></td>
        <td><%= Settings.duration %></td>
        <td><%= Settings.number_questions_of_lesson %></td>
        <td>
          <% if lesson.spent_time.nil? %>
            <%= t "lesson.default_spent_time" %>
          <% else %>
            <%= "#{lesson.spent_time / Settings.lesson.second_per_minute} :
              #{lesson.spent_time % Settings.lesson.second_per_minute}" %>
          <% end %>
        </td>
        <td><%= lesson.score %></td>
        <td>
          <% if lesson.start? %>
            <%= link_to t("lesson.start"), lesson, class: "btn btn-primary" %>
          <% else %>
            <%= link_to t("lesson.view"), lesson, class: "btn btn-success" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
